# CircleCI API token (create at https://app.circleci.com/settings/user/tokens)
CIRCLE_TOKEN=

# Optional: org slug so you don't have to pass it on the command line
# Examples: gh/MyOrg, bb/MyOrg, circleci/<org-id>
CIRCLE_ORG_SLUG=gh/YourOrg
